[Unit]
Description=Afew tagging service(oneshot)
Documentation=man:afew(1)
Requires=notmuch.service
After=notmuch.service

[Service]
Type=oneshot
ExecStart=/usr/bin/afew --tag --new --verbose

[Install]
WantedBy=mail.target
