[Unit]
Description=System backup


[Service]
CPUQuota=50%
Nice=10
Type=simple
LoadCredentialEncrypted=backup
Environment=GOMAXPROCS=1
ExecStart=%h/.local/bin/restic velox backup %h

[Install]
WantedBy=default.target
