[Unit]
Description=Offlineimap Service (oneshot)
Documentation=man:offlineimap(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o -u basic
LoadCredentialEncrypted=mail
KillSignal=SIGUSR2
TimeoutSec=120

[Install]
WantedBy=mail.target
